<form action="" (ngSubmit)="onSubmit()" [formGroup]="categoryForm">
  <div class="add-title">Thêm danh mục</div>
  <div id="marginForm">

    <div class="form-group">
      <label for="txtName">Tên danh mục</label>
      <input type="text" id="txtName" formControlName="name" [(ngModel)]="category.name" class="form-control">
      <small *ngIf="!categoryForm.get('name')?.valid && categoryForm.get('name')?.touched" id="nameHelpId"
        class="text-muted">
        Tên danh mục cần ít nhất 3 kí tự
      </small>
    </div>
    <div class="form-group">
      <button>Thêm danh mục</button>
    </div>
  </div>
</form>
