.add-title {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 20px;
  margin: 10px 0 0 16px;
}
#marginForm label {
  padding-bottom: 10px;
  font-size: 16px;
}
#marginForm input {
  width: 960px;
}
#marginForm input:focus {
  border: none !important;
  transition: none !important;
}
#marginForm label,
#marginForm input,
#marginForm button,
#description{
  margin-left: 16px;
}
#marginForm input:focus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  outline:none;
}
#marginForm button{
  width: 160px;
  height:40px;
  color:white;
  border:none;
  border-radius: 10px;
  background-color: #198754 ;
  margin-top: 20px;
}
#nameHelpId{
  margin: 5px 0 20px 16px;
  color: #dc3545 !important;
}
#marginForm .form-group{
  padding-bottom: 20px !important;
}

#description{
  width: 800px;
  height: 200px;
}

form{
  width:1000px;
  border: 1px solid #333;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #ffffff;
}
#urlImage{
  width: 500px !important;
}
select{
  width: 100px;
  margin-left:10px;
}
