* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.admin {
  display: flex;
  min-height: 100vh;
}

.left-manager {
  width: 250px;
  height:700px;
  background-color: #2c3e50;
  color: white;
  position: fixed;
  top:0;
  left: 0;
}

.admin-logo {
  text-align: center;
  margin: 10px 0 20px 0;
}

.admin-logo a {
  font-size: 32px;
  color: #81c408;
  font-weight: bold;
}

.manage-category ul {
  list-style-type: none;
}

.manage-category ul li {
  margin: 10px 0;
  height: 50px;
  display: flex;
  align-items: center;
}
.manage-category ul li:hover{
  background-color: #fff;
}
.manage-category ul li:hover a {
  color: #333 !important;
}

.manage-category ul li img {
  margin-right: 20px;
  margin-left: 18px;
  width: 20px;
  height: 20px;
}

.manage-category ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.admin-info {
  width: 250px;
  height: 160px;
  margin-top: 240px;
}
.border-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.admin-name {
  width: 250px;
  text-align: center;
  padding-top: 10px;
}
.border-img,
.admin-name {
  margin: 0 auto;
}

.right-manager {
  flex: 1;
  padding: 20px;
  margin-left:232px;
  background-color: #f5f5f5;
}

.right-manager p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

button#addBtn {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 5px;
}

button#addBtn a {
  text-decoration: none;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  text-align: left;
  background-color: #34495e;
  color: white;
  padding: 10px;
}

tbody td {
  padding: 10px;
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
}

tbody tr:hover {
  background-color: #dfe6e9;
}





